doctype html
html
    head
        style
            include style.css
    body
        div.header
            block content
        div.footer
            | Best HomeWork
            br
            a(href='https://github.com/') Visit my Git
