doctype html
html
    head
        style
    body
        div
            block content
        div
            | Repeat home Work
            br
            a(href='https://github.com/') please visit our GitHub